<!doctype html>
<title>LSB Floor 2B Slideshow Image Upload</title>
<h1>LSB Floor 2B Slideshow Image Upload</h1>

<h3>Image Guidelines</h3>
<ul>
<li>Size: 1280x800 pixels. Avoid using larger images! The Raspberry Pi isn't that powerful; large images may cause some slowdown.</li>
<li>Formats: .png, .gif, .jpg, .jpeg.</li>
</ul>

<h3>Updating/Deleting Images</h3>

<ul>
<li>You will be a given a URL allowing you to delete your image. Please store this somewhere safe as you cannot get it again.</li>
<li>To update, delete the old image first and re-upload (otherwise your image will be duplicated)</li>
</ul>

<h3>Upload Form</h3>

<form action="" method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
